@use "../../styles/partials/responsive" as *;

.sidebar {
  width: 30rem;
  background-color: #1f2023;
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;
  position: fixed;
  height: 100vh;
  z-index: 2;

  @include media-widescreen {
    width: 32rem;
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    border-radius: 15px;
    background-color: #121212;
    color: white;
    margin: 0rem 2rem 3rem 2rem;
  }

  &__profile-photo {
    width: 7rem;
    margin-right: 2rem;
  }

  &__name {
    font-weight: 500;
    font-size: 1.5rem;
  }

  &__position {
    font-weight: 400;
    font-size: 1.4rem;
    padding-top: 0.5rem;
  }

  &__my-projects {
    color: white;
  }

  &__title {
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 0 2rem;
  }

  &__search-area {
    padding: 0 2rem;

    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    input {
      &:active {
        border: 0;
      }

      &:focus {
        border: 0;
        outline: none;
      }

    }

    input::placeholder {
      color: white;
      font-family: poppins;
      letter-spacing: 0.02rem;

      
    }
  }

  &__search-textarea {
    border: 0;
    background-color: #28292d;
    color: white;
    padding: 1.2rem 2rem;
    border-radius: 10px;
    width: 100%;
    margin-right: 2rem;
  }

  &__search-button {
    background-color: #006cff;
    display: flex;
    padding: 1.2rem 1.3rem;
    border-radius: 10px;
  }

  &__projects-list {
    margin-top: 1rem;
  }

  &__project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0rem;
    padding: 1.5rem 2rem;

    &--namebox {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: 400;
      background-color: #d35400;
      width: 4.4rem;
      height: 4.2rem;
      border-radius: 10px;
    }

    // &--namebox2 {
    //   background-color: #a3a847;
    // }

    &--info {
      font-size: 1.4rem;
      letter-spacing: 0.02rem;
      width: 70%;
      margin-left: 1.5rem;
    }

    &--tasks {
      color: #8b8b8b;
      font-size: 1.2rem;
    }

    &--icon {
      // display: flex;
      // flex-direction: column-reverse;
      // background-color: firebrick;
    }

    &--dropdown {
      flex-direction: column;
    }
  }

  &__project-container:hover {
    background-color: #28292d;
  }

  &__project-container--list {
    flex-direction: column;
  }

  &__project-container2 {
    width: 100%;
    display: flex;
    border: 0;
    margin: 0;
  }

  &__project-container3 {
    width: 100%;
    display: flex;
  }
}

.sidebar-line1 {
  display: flex;
  border-left: 1.3px solid #8b8b8b;
  height: 3.2rem;
  padding: 0;
  margin: 0;

  &--short {
    height: 2.2rem;
  }
}

.sidebar-line2 {
  display: flex;
  border-bottom: 1.3px solid #8b8b8b;
  width: 2rem;
  padding: 0;
  margin: 0;
}

.sidebar-cont {
  display: flex;
  flex-direction: column;
}

.line-box {
  display: flex;
  flex-direction: column;
  margin-left: 2.2rem;
}
.sidebar-boxline2 {
  display: flex;
  align-items: center;
  margin: -1rem 0;
  padding: 0;
}

.sideline-text {
  font-size: 1.2rem;
  margin-left: 2rem;

  &--cancel {
    text-decoration: line-through;
  }

  a {
    font-size: 1.2rem;

    color: #006cff;
  }
}

.sidebar__bottom {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin-top: 3rem;
  position: absolute;
  bottom: 2rem;
  border-top: 0.01px solid rgba(139, 139, 139, 0.2);
  width: 100%;
}

.sidebar__menu-container {
  display: flex;
  margin-top: 1.3rem;
  padding: 0;
  color: white;
  letter-spacing: 0.02rem;

  &--icon {
    margin-right: 2rem;
  }
}
