.project-overview {
    padding: 0 3rem;

    display: flex;
    flex-direction: column;
  &__desc {
    font-weight: 400;
    margin-bottom: 5rem;
  }

  &__priority{
display: flex;
flex-direction: column;
margin-bottom: 1.5rem;

&--title{
    font-size: 1.4rem;

    margin-bottom: 1rem;
}
  }


  &__date{
    margin-bottom: 2rem;
    &--title{
        font-size: 1.4rem;

        margin-bottom: 0.5rem;
    }

    &--time{
        font-size: 1.3rem;
    }
  }
}
