@use "../../styles/partials/responsive" as *;

.project-add {
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;

  @include media-tablet {
    margin: 0 2.5rem;
  }

  @include media-desktop {
    margin: 0 3rem;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  &__form {
    font-family: poppins;
    letter-spacing: 0.02rem;
    display: flex;
    flex-direction: column;

    @include media-desktop {
      flex-direction: row;
    }

    label {
      margin-bottom: 1.5rem;
    }

    input {
      font-family: poppins;
      letter-spacing: 0.02rem;
      border: 0;
      background-color: #171819;
      color: white;
      padding: 1.2rem 2rem;
      border-radius: 10px;
      margin-bottom: 2rem;

      &:focus {
        border: 0;
        outline: none;
      }

      &:active {
        border: 0;
      }
    }

    &--leftcol {
      display: flex;
      flex-direction: column;

      @include media-desktop {
        margin-right: 10rem;
      }

      input {
        width: 100%;

        @include media-desktop {
          width: 65rem;
        }
      }

      textarea {
        font-family: poppins;
        letter-spacing: 0.02rem;

        border: 0;
        background-color: #171819;
        color: white;
        padding: 1.2rem 2rem;
        border-radius: 10px;
        margin-bottom: 2rem;
        height: 30rem;

        &:focus {
          border: 0;
          outline: none;
        }

        &:active {
          border: 0;
        }
      }
    }

    &--rightcol {
      display: flex;
      flex-direction: column;

      input {
        @include media-desktop {
          width: 28rem;
        }
      }
    }

    &--submit {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #006cff;
      font-size: 1.4rem;
      height: 4.2rem;
      border-radius: 10px;
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: none;

      @include media-desktop {
        display: flex;
      }
    }

    &--submit-mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #006cff;
      font-size: 1.4rem;
      height: 4.2rem;
      border-radius: 10px;
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: flex;

      @include media-desktop {
        display: none;
      }
    }

    &--note {
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 0.6px;
      display: none;

      @include media-desktop {
        display: flex;
      }
    }

    &--note-mobile {
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 0.6px;
      display: flex;

      @include media-desktop {
        display: none;
      }
    }
  }

  &__pr-label {
    input[type="radio"]:checked + label.priority-high {
      background-color: #ff0000;
    }

    input[type="radio"]:checked + label.priority-medium {
      background-color: #f3a32f;
    }

    input[type="radio"]:checked + label.priority-low {
      background-color: #006cff;
    }

    input[type="radio"] {
      display: none;
    }

    label {
      border-radius: 5px;
      margin: 0;
      margin-bottom: 2rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-desktop {
        width: 15rem;
      }
    }

    label.priority-high {
      background-color: rgba(255, 0, 0, 0.12);
      border: 1px solid #ff0000;

      &:hover {
        background-color: #ff0000;
        color: white;
      }
    }

    label.priority-medium {
      background-color: rgba(243, 163, 47, 0.12);
      border: 1px solid #f3a32f;

      &:hover {
        background-color: #f3a32f;
        color: white;
      }
    }

    label.priority-low {
      background-color: rgba(0, 108, 255, 0.12);
      border: 1px solid #006cff;

      &:hover {
        background-color: #006cff;
        color: white;
      }
    }
  }

  input[type="datetime-local"] {
    color: white;
    font-family: poppins;
    letter-spacing: 0.02rem;

    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
}
