@use "../../styles/partials/responsive" as *;

.projectlist {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #121212;

  @include media-desktop {
    margin-left: 30rem;
  }

  @include media-widescreen {
    margin-left: 32rem;
  }

  &__content {
    padding: 2rem 0;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
  }

  &__profile-mobile {
    background-color: #1f2023;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    margin: 0 2rem 2rem 2rem;
    border-radius: 1rem;

    @include media-desktop {
      display: none;
    }
  }

  &__profile-image {
    width: 7rem;
  }

  &__counter {
    display: flex;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #006cff;
    margin: 0 2rem;

    @include media-desktop {
      padding: 3rem;
      width: 30rem;
      margin: 0 3rem;
    }

    &--title {
      font-size: 2rem;
    }

    &--number {
      font-size: 3rem;
      font-weight: 600;
      margin: 0;
      padding: 0;
    }
  }

  &__sort {
    margin: 4rem 3rem 0 1.5rem;
    justify-content: space-between;
    align-items: center;
    display: none;

    @include media-desktop {
      margin: 4rem 3rem 0 3rem;
      display: flex;
      flex-direction: row;
    }
  }

  &__sort-icon {
    width: 3rem;
    margin-right: 1rem;
  }

  &__sort-right {
    display: none;

    @include media-desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__sort-item {
    margin-right: 2rem;
    color: #acacac;
    letter-spacing: 0.05rem;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    margin: 2rem 0.5rem 0 0.5rem;

    @include media-desktop {
      margin: 4rem 1.5rem 0 1.5rem;

      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  &__grid-item {
    background-color: rgba(31, 32, 35, 0.4);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    // width: 30rem;
    height: 25rem;
    font-size: 2.4rem;
    letter-spacing: 0.05rem;
    color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    margin: 0 1rem 1.5rem 1rem;
    padding: 3rem 2rem 2rem 2rem;
    position: relative;

    @include media-desktop {
      margin: 0 1rem 2rem 1rem;

      padding: 3rem 2rem 2rem 2rem;
      width: 25rem;
      height: 25rem;
    }

    &--new {
      align-items: center;
      justify-content: center;

      @include media-desktop {
        padding: 0;
      }
    }

    &--icon {
      width: 6rem;
      margin-bottom: 2rem;
    }

    &:hover {
      background-color: #1f2023;
    }
  }

  &__grid-title {
    color: white;
    font-size: 1.6rem;
  }

  &__grid-desc {
    margin-top: 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
  }

  &__grid-priority {
    margin-top: 2rem;
    // background-color: rgba(255, 0, 0, 0.12);
    // border: 1px solid #ff0000;
    border-radius: 0.5rem;
    padding: 0.3rem 2rem;
    // color: #ff0000;
    font-size: 1.2rem;
    font-weight: 300;

    &--high {
      background-color: rgba(255, 0, 0, 0.12);
      border: 1px solid #ff0000;
      color: #ff0000;
    }

    &--medium {
      background-color: rgba(243, 163, 47, 0.12);
      border: 1px solid #f3a32f;
      color: #f3a32f;
    }

    &--low {
      background-color: rgba(0, 108, 255, 0.12);
      border: 1px solid #006cff;
      color: #006cff;
    }
  }

  &__grid-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    left: 2rem;
  }

  &__grid-timecontainer {
    display: flex;
    align-items: center;
  }

  &__grid-time {
    font-size: 1.1rem;
  }

  &__grid-icon {
    width: 1.5rem;

    @include media-tablet {
      width: 2rem;
    }

    &--space {
      margin-right: 1rem;
    }
  }
}
